body {
    background-color: #8F8681;}
    a {
        font-size: 20px;
        color: white;
        font-weight: 200px;
        margin: 1.5re;
     }
    
     nav ul {
        margin: 1.7rem;
        font-size: 25px;
        color: white;}
/* table {
    width: 80%;
    padding: 1rem;
    margin: auto;
    background-color: #E1DCD9;
    /* color: antiquewhite; */
    /* border: 2px;
    border-collapse: collapse;
    
}
thead {
    text-align: center;
}
table thead td, tbody th, tbody td {
    border: 1.5px solid black;
   font-size:;
   padding: 1rem;
} */ 
table {
    width: 90%;
    border-collapse: collapse;
    background-color: #E1DCD9;
    margin-left: 20px;
    
  }

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid black;
   
  }

  /* Make the table container scrollable on smaller screens */
  .table-container {
    overflow-x: auto;
  }
h1 {
    text-align: center;
    color: white;
}