p {
    text-indent: 2em;
    font-size: 1.2rem;
    text-align: justify;
}

article {
    /* border: 3px ; */
        font-size: 1.2rem;
        padding: 1.5rem;
        margin: 1.5em 3em 1.5em;
        background-color: #E1DCD9;
        /* color: antiquewhite; */
        border: 2px;
        border-radius: 20px;
}
h1 {
    text-align: center;
    font-style: italic;
    color: white;
}
body {
    background-color: #8F8681;
}
/* nav ul li {
    background-color: #E1DCD9;
    border: 0.5em solid #E1DCD9;
    margin: 1.5rem;
    width: 10%;
    border-radius: 40%; */
    
 a {
    font-size: 20px;
    color: white;
    font-weight: 200px;
    margin: 1.5re;
 }

 nav ul {
    margin: 1.7rem;
    font-size: 25px;
    color: white;
 }
 strong {
    background-color: white;
    text-decoration: underline;
 }

 #make_it_red {
    color: red;
 }



