.general-container {
    
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 20px; /* Space between image and form */
      background-color:  #E1DCD9;
    border-radius: 2%;
 margin: 2rem;  }

 @media (max-width: 768px) {
  .general-container {
    flex-direction: column; /* Stacks the image and form vertically */
    align-items: center;    /* Centers the content */
  }  }

  @media (max-width: 768px) {
    .form-container2 {
      flex-direction: column; /* Stacks the image and form vertically */
      align-items: center;    /* Centers the content */
    }  }
  .image1 {
    display: block;
    max-width: 80%; /* Makes the image smaller on small screens */
    margin-top: 50px;
    margin-left: 30px;
  }
  .image2 {
    display: none;
  }
  @media (max-width: 768px) {
    .image1 {
      display: none;  /* Hide the large image */
    } }
    @media (max-width: 768px) {
      .image2 {
        display: block;  /* Hide the large image */
      } }


      @media (max-width: 768px) {
        .header {
          display: none;  /* Hide the large image */
        } }
        .image2 {
          max-width: 35%;
          margin-top: 30px;
          margin-left: 7em;
          color: #E1DCD9;
        }
  /* table {
    overflow-x: auto;
    width: 90%;
  }
} */

      body {
        background-color: #8F8681;
      }
      nav ul {
        margin: 1.7rem;
        font-size: 25px;
        color: white;
      }
      a {
        font-size: 20px;
        color: white;
        font-weight: 200px;
        margin: 1.5re;
     }
     h1 {
      text-align: center;
      font-size: 40px;
     }
     h5 {
      text-align: center;
     }
    input,select {
      width: 250px;
      height: 40px;
      padding: 10%;
      font-size: 16px;
      border: 1px solid black;
      border-radius: 10px;
      box-sizing: border-box;
      background-color: #fcf8f6;
      
     }
     /* tr td {
      justify-content: space-between;
     } */
    .general-form-container{
      display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        gap: 20px;
    }
    .form-container2 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);  /* Two equal columns */
      gap: 20px;  /* Space between columns */
    }

    @media (max-width: 768px) {
      .form-container2 {
        grid-template-columns: 1fr;  /* Switch to one column on smaller screens */
      }
    }

    label {
      font-size: 18px;
    }
    .back-to-top {
      color: blue;
    }
    .signup {
      font-family: AlmarenaDisplayBold, sans-serif;
      font-size: 1.3rem;
    }
    .footer2 {
      color: white;
      font-size: xx-large;
    }

    .sign-in {
      color: blue;
    }
    
    .submit-button {
      background-color: blue;
      width: 9em;
      height: 4em;
      color: white;
      border: 2px solid blue;
      margin-left: 10em;
    }